<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update person</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/people/{id}(id = ${person.getId()})}" th:object="${person}">
    <label for="fullName">Full name: </label>
    <input type="text" th:field="*{fullName}" id="fullName"/>
    <div style="color: red" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}">Some full name error</div>
    <br>
    <label for="year">Year of birthday: </label>
    <input type="text" th:field="*{yearOfBirthday}" id="year"/>
    <div style="color: red" th:if="${#fields.hasErrors('yearOfBirthday')}" th:errors="*{yearOfBirthday}">Some full year
        of birthday error
    </div>
    <br>
    <input type="submit" value="Update"/>
</form>
</body>
</html>